= form_with(model: bookmark, local: true) do |form|
  - if bookmark.errors.any?
    #error_explanation
      %p
        = pluralize(bookmark.errors.count, "error")
        prohibited this bookmark from being saved:
      %ul
        - bookmark.errors.full_messages.each do |message|
          %li
            =message
  .field
    = form.label :url
    = form.text_field :url, class: "form-control", placeholder: "example.com"
    = form.label :description
    = form.text_area :description, row: 5, class: "form-control"
  .actions
    = form.submit class: 'btn btn-light p-1 m-2'
