.nav-wrapper
  %p#notice= notice
  %nav.navbar.navbar-light.mb-1.mr-2
    = link_to '64page',root_path, class: 'page36 text-dark'



    -if current_user
      .user-info
        %p.mx-1
          = link_to current_user.name, edit_user_registration_path, class: 'border_spread_btn mx-2'
          |
          = link_to 'Log out', destroy_user_session_path, method: :delete, class: 'border_spread_btn ml-2', data: { confirm: "ログアウトします。よろしいですか？"}
    - else
      .user-info
      %p.mx-1
        = link_to 'Log in', new_user_session_path, class: 'border_spread_btn mx-2'
        |
        = link_to 'Sign up', new_registration_path(resource_name), class: 'border_spread_btn ml-2'




