.wrapper
  = render 'navbar'
  .show-wrapper
    %h4.font-weight-bold.mb-2 Editing Bookmark
    -#%p Title:
    = @bookmark.title
    = render 'form', bookmark: @bookmark
    = link_to 'Delete', @bookmark, method: :delete,class: 'border_spread_btn mr-2', data: {confirm: "#{@bookmark.title ||= @bookmark.url} を削除します。よろしいですか？"}
    |
    = link_to 'Top page', root_path, class: 'border_spread_btn ml-2 mt-5'