%p#notice= notice
= render 'navbar'
.wrapper
  %p
    %strong Url:
    = link_to @bookmark.title, @bookmark.url
  = link_to 'Edit', edit_bookmark_path(@bookmark),class: 'border_spread_btn'
  |
  = link_to 'Back', bookmarks_path, class: 'border_spread_btn'
