= render 'navbar'
.wrapper
  %p
    %strong Title:
    = @bookmark.title
  %p
    %strong Url:
    = link_to @bookmark.url, @bookmark.url, target: "_blank"
  %p
    %strong Description
  %div.mb-5
    = @bookmark.description
  = link_to 'Edit', edit_bookmark_path(@bookmark),class: 'border_spread_btn'
  |
  = link_to 'Back', bookmarks_path, class: 'border_spread_btn'
