<div class="wrapper">
  <%= render 'bookmarks/navbar' %>
  <div class="description">
    <p>
      <strong>64page</strong> is a service that saves your bookmarks online.
    </p>
    <p>
      After signing up, press <strong>New Bookmark</strong> to register your bookmark.
    </p>
    <p>
      Your registered bookmark will be displayed on the top page, and clicking the title will display the linked page in a new tab.
    </p>
    <p class="mt-3">
      <strong>64page</strong>はあなたのブックマークをオンラインで保存するサービスです。
    </p>
    <p>
      サインアップしたら <strong>New Bookmark</strong> を押してあなたのブックマークを登録してください。
    </p>
    <p>
      あなたが登録したブックマークはトップページに表示され、タイトルをクリックすると新しいタブでリンク先のページを表示します。
    </p>

  </div>
  <div class="login-wrapper">
    <h3>Sign up</h3>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :name %><br/>
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'form-control form-control-sm' %>
      </div>

      <div class="field mt-2">
        <%= f.label :email %><br/>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control form-control-sm' %>
      </div>

      <div class="field mt-2">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br/>
        <%= f.password_field :password, autocomplete: "new-password", class: 'form-control form-control-sm' %>
      </div>

      <div class="field mt-2">
        <%= f.label :password_confirmation %><br/>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control form-control-sm' %>
      </div>

      <div class="actions mt-2 mb-2">
        <%= f.submit "Sign up", class: 'btn btn-primary p-1 m-2' %>
      </div>
    <% end %>

    <%- if controller_name != 'sessions' %>
      <%= link_to "Log in", new_session_path(resource_name), class: 'border_spread_btn' %>
    <% end %>
  </div>
</div>